---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SideBar from "../components/SideBar.astro";
import Main from "../components/Main.astro";
---

<Layout title="Sample astro app">
  <main class="relative">
    <SideBar />
    <Main />
  </main>
</Layout>
