<div class="relative">
  <img
    class="w-full h-fit"
    src="https://images.unsplash.com/photo-1585412727339-54e4bae3bbf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
    alt=""
  />
  <p
    class="fixed top-[70%] left-[5rem] text-gray-100 tracking-wider font-bold text-5xl"
  >
    Experience <br />
    <span class="font-normal tracking-wide">Design Perfection</span>
  </p>
</div>
