<header
  class="flex text-white bg-black justify-between px-12 py-4 opacity-70 fixed w-full top-0 z-40 items-center h-[80px]"
>
  <div>
    <h1>ICON</h1>
  </div>
  <div>
    <ul class="flex gap-4">
      <li><a href="/collections">Collections</a></li>
      <li><a href="/brochures">Brochures</a></li>
      <li><a href="/ourstory"> Our Story</a></li>
    </ul>
  </div>
  <div>
    <ul class="flex gap-4 items-center">
      <li>Search</li>
      <li>Favourite</li>
      <li>
        <button class="border border-gray-600 px-4 py-1 text-center rounded">
          Sign In
        </button>
      </li>
    </ul>
  </div>
</header>
